{% extends 'layout.html' %}

{% block body %}

<form action="/update/{{contact.id}}" method="POST">
    <input type="text" name="cedula" placeholder="Escribe su # de cedula" value="{{contact.cedula}}">
    <input type="text" name="fullname" placeholder="Escribe tus nombres" value="{{contact.fullname}}">
    <input type="text" name="lastname" placeholder="Escribe tus apellidos" value="{{contact.lastname}}">
    <input type="text" name="age" placeholder="Escribe tu edad" value="{{contact.age}}">
    <input type="text" name="email" placeholder="Escribe tu email" value="{{contact.email}}">
    <input type="text" name="genero" placeholder="Genero (M/F)" value="{{contact.genero}}">

    <button>Guardar</button>
</form>

{% endblock %}