{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">

        <form action="/update/{{contact.id}}" method="POST" class="card bg-dark text-white">

            <div class="card-body p-4">
                <div class="mb-3">
                    <label for="cedula">Nº cedula:</label>
                    <input type="text" name="cedula" placeholder="Escriba su nº de cedula" value="{{contact.cedula}}" class="form-control rounded-0 bg-dark border-0 text-white">
                </div>

                <div class="mb-3">
                    <label for="fullname">Nombres:</label>
                    <input type="text" name="fullname" placeholder="Escribe tus nombres" value="{{contact.fullname}}" class="form-control rounded-0 bg-dark border-0 text-white">
                </div>

                <div class="mb-3">
                    <label for="lastname">Apellidos:</label>
                    <input type="text" name="lastname" placeholder="Escribe tus apellidos" value="{{contact.lastname}}" class="form-control rounded-0 bg-dark border-0 text-white">
                </div>

                <div class="mb-3">
                    <label for="age">Edad:</label>
                    <input type="text" name="age" placeholder="Escribe tu edad" value="{{contact.age}}" class="form-control rounded-0 bg-dark border-0 text-white">
                </div>

                <div class="mb-3">
                    <label for="email">Correo Electronico:</label>
                    <input type="text" name="email" placeholder="Escribe tu email" value="{{contact.email}}" class="form-control rounded-0 bg-dark border-0 text-white">
                </div>

                <div class="mb-3">
                    <label for="genero">Genero (M/F):</label>
                    <input type="text" name="genero" placeholder="Genero (M/F)" value="{{contact.genero}}" class="form-control rounded-0 bg-dark border-0 text-white">
                </div>

                <button class="btn btn-secondary">Actualizar</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}